<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="winner"
           data-view="Text"
           data-text="Winner"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="goldenboot"
           data-view="Text"
           data-text="Golden Boot"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="goalscored"
           data-view="Text"
           data-text="Goals Scored"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="goalsconceded"
           data-view="Text"
           data-text="Goals Conceded"></div>
    </li>
  </ul>
</div>
